{% set currentTutorial = page.url | getTutorialName %}

<sidebar class="hidden md:block md:w-3/12">
  <ul class="leading-normal">
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'apa-itu-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/apa-itu-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'apa-itu-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        Pendahuluan
      </a>
    </li>
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'instalasi-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/instalasi-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'instalasi-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        Instalasi
      </a>
    </li>
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'menjalankan-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/menjalankan-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'menjalankan-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        Menjalankan
      </a>
    </li>
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'hello-world-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/hello-world-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'hello-world-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        Hello World
      </a>
    </li>
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'komentar-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/komentar-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'komentar-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        Komentar
      </a>
    </li>
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'tipe-data-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/tipe-data-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'tipe-data-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        Tipe Data
      </a>
    </li>
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'variabel-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/variabel-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'variabel-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        Variabel
      </a>
    </li>
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'operator-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/operator-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'operator-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        Operator
      </a>
    </li>
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'kondisi-if-else-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/kondisi-if-else-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'kondisi-if-else-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        Kondisi
      </a>
    </li>
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'loop-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/loop-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'loop-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        Loop
      </a>
    </li>
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'number-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/number-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'number-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        Number
      </a>
    </li>
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'string-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/string-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'string-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        String
      </a>
    </li>
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'list-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/list-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'list-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        List
      </a>
    </li>
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'tuple-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/tuple-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'tuple-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        Tuple
      </a>
    </li>
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'dictionary-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/dictionary-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'dictionary-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        Dictionary
      </a>
    </li>
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'tanggal-waktu-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/tanggal-waktu-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'tanggal-waktu-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        Tanggal &amp; Waktu
      </a>
    </li>
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'fungsi-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/fungsi-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'fungsi-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        Fungsi
      </a>
    </li>
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'modul-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/modul-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'modul-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        Modul
      </a>
    </li>
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'file-io-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/file-io-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'file-io-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        File I/O
      </a>
    </li>
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'exception-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/exception-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'exception-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        Exception
      </a>
    </li>
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'object-class-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/object-class-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'object-class-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        Object &amp; Class
      </a>
    </li>
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'akses-database-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/akses-database-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'akses-database-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        Akses Database
      </a>
    </li>
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'networking-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/networking-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'networking-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        Networking
      </a>
    </li>
    <li class="border-l-2 {{ 'border-primary-500' if currentTutorial == 'pengembangan-web-python' else 'border-slate-200' }} py-1">
      <a href="/tutorial/pengembangan-web-python"
        class="{{ 'font-bold text-primary-500' if currentTutorial == 'pengembangan-web-python' else 'font-medium text-slate-400' }} hover:text-primary-500 leading-relaxed text-primary-500 px-4">
        Pengembangan Web
      </a>
    </li>
  </ul>
</sidebar>