<!DOCTYPE html>
<html lang="{{ lang or 'id' }}">
    {% include "head.njk" %}
    <body class="overflow-x-hidden">
        {% include "navbar.njk" %}
        <div class="max-w-4xl mx-auto py-10 flex">
            <main class="w-full min-w-0 pb-10 px-4 md:w-12/12">
                <h1 class="text-primary-500 font-medium text-3xl mb-3">{{ title }}</h1>
                {{ content | safe }}
            </main>
        </div>
        {% include "footer.njk" %}
        {% include "analytics.njk" %}
    </body>
</html>